body {
    font-family: 'Righteous', cursive;
}

#nav {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#subNav {
    display: flex;
    margin-right: auto;
}

#subNav > p{
    font-size: 1.3em;
    color: green;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
}

li {
    padding: 5px 20px 5px 20px;
    border: 2px solid #FFAD00;
    border-radius: 10px;
    margin-right: 8px;
    background-color: white;
}

li:hover {
    background-color: #FFAD00;
}

li:hover > a {
    color: white;
}

a {
    text-decoration: none;
    color: green;
    font-size: 1.3em;
}

.cover {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('resources/pic.png');
    margin: 100px 40px 10px 40px;
    border-radius: 50px;
}

#logo {
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

#coverImg {
    margin-top: 20px;
    height: 500px;
    width: 600px;
    margin-bottom: 50px;
    border-radius: 50px;
}
.h {
    margin-top:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
    font-size: 1.2em;
    color: #AF741B;
}


/* carousel start*/

#loading{
  color: #fff;
  position: absolute;
  letter-spacing: 3px;
  width: 10em;
  line-height: 2em;
  top: calc(50% - 1em) ;
  left: calc(50% - 5em);
  z-index: 2;
  text-align: center;
}

.loading-done{
  display: none;
}

#images{
  position: relative;
  align-items: center;
  width: 600px;
  left: calc(50% - 300px);
}

.canvas{
  position: relative;
  display:block;
  overflow: hidden;
  /* display: flex;
  flex-direction: row; */
  align-items: center;
}


#images img{
  display: none;
  vertical-align: bottom;
}

canvas{
  vertical-align: bottom;
  position: absolute;
}

nav ul{
  height: 0;
  margin: 0;
}


nav li {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: .3;
  list-style: none;
  top: calc(50% - 12px);
  z-index: 100;
  transition: opacity .3s;
}

nav li:hover{
  opacity: .7;
}

.pre.after-loading{
  left: -40px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.next.after-loading{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  right: -40px;
}

/* carousel end */


.heading {
    font-size: 2em;
    color: green;
}

.menu {
    background: #FFAD00;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px 40px 10px 40px;
    border-radius: 50px;
}

.item {
    background: white;
    border-radius: 50px;
}

#juice {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

#rate {
    color: #FFAD00;
}

#contact {
    height: 250px;
    width: 250px;
    margin-top: 10px;
    border-radius: 50px;
}

.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    color: white;
    border: 2px solid #FFAD00;
    border-radius: 10px;
    margin: 0px 500px 50px 500px;
    background: #FFAD00;
}

span {
    color: green;
}

@media only screen and (max-width: 800px) {
    #subNav > p {
        font-size: 0.9em;
    }

    li {
        padding: 5px 5px 5px 5px;
        border: 2px solid #FFAD00;
        border-radius: 10px;
        margin-right: 8px;
        background-color: white;
    }

    a {
        font-size: 0.8em;
    }

    #coverImg {
        margin-top: 20px;
        height: 120px;
        width: 150px;
        margin-bottom: 20px;
        border-radius: 50px;
    }

    #p {
        font-size: 0.8em;
        color: #AF741B;
        margin-left: 10px;
        margin-right: 10px;
    }

    .heading {
        font-size: 1.4em;
        color: green;
    }

    .menu {
        background: #FFAD00;
        display: grid;
        grid-template-columns: 170px 170px;
        margin: 10px 10px 10px 10px;
        border-radius: 30px;
    }

    .item {
        background: white;
        border-radius: 30px;
    }

    #juice {
        height: 100px;
        width: 100px;
        border-radius: 30px;
    }

    .Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        color: white;
        border: 2px solid #FFAD00;
        border-radius: 10px;
        margin: 0px;
        background: #FFAD00;
    }

    #contact {
        height: 150px;
        width: 150px;
        margin-top: 10px;
    }

}
